@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 2;
  font-weight: 300;
  text-align: center;

  color-scheme: light dark;
  color: var(--color-black);
  background-color: var(--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@theme {
  --color-white: var(--color-gray-50);
  --color-black: var(--color-gray-950);
  --color-purple: #443850;
  --color-gray: #7D8491;
  --color-light-gray: #C0C5C1;
  --color-yellow: #BBBE64;
  --color-light-yellow: #EAF0CE;
}